.contact {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  padding: 4rem 2rem;

  &__heading {
    font-size: 5rem;
    color: var(--white-theme-main-color);
    margin-bottom: 3rem;
  }

  &__button {
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 3rem;
    color: var(--white-theme-main-color);
    background: transparent;
    border: 2px solid var(--white-theme-main-color);
    border-radius: 5px;
    transition: all 0.3s ease;
    text-decoration: none;
    margin-bottom: 12rem;

    &:hover {
      background-color: var(--white-theme-main-color);
      color: var(--blue-theme-background-color);
    }
  }
}
