

:root{
    --blue-theme-background-color: linear-gradient(135deg, #3a8dde, #2dd4bf);
    --white-theme-main-color:#FFFDF6;
    --white-theme-sub-text-color:#DDE7C7;
    --blue-theme-nav-background-color:#98C9A3;
}
*{
    box-sizing : border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
    height: 100%;
}

body{
  background: radial-gradient(circle at top, #1b3a3f, #0e2226 60%, #071214);
  height:100%;
  color: var(--white-theme-main-color);
}
#root{
    height:100%;
}