

:root{
    --blue-theme-background-color:#77BFA3;
    --white-theme-main-color:#FFFDF6;
    --white-theme-sub-text-color:#DDE7C7;
    --blue-theme-nav-background-color:#98C9A3;
}

*{
    box-sizing : border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
    height: 100%;
}

body{
    background: var(--blue-theme-background-color);
    height:100%;
}

#root{
    height:100%;
}